.loading-spinner {
  animation: width bg 1s linear infinite alternate reverse;
}

@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}