@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

.dark-bg{
    background-color: #18191A;
}

.fade-bg{
    background-color: #272A2E;
}

.bg-img{
    background-image: url("./assets/bg.jpeg");
    object-fit: cover;
    background-repeat: no-repeat;
}

.btn-prm{
    background-color: #66BD68;
}

.btn-mn{
    background-color: #6CC1FA;
}

body{
    font-family: 'Merriweather', serif;
}

.translate-x-total{
    transform: translateX(100%);
}
.translate-x-zero{
    transform: translateX(0);
}

.translate-y-total{
    transform: translateY(100%);
}
.translate-y-zero{
    transform: translateY(0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
@keyframes transition{
    0%{
        width: 0;
    }25%{
        width: 25%;
    }70%{
        width: 75%;
    }100%{
        width: 85%;
    }
}

@keyframes loadTime {
    0%{
        width: 60%;
    }50%{
        width: 70%;
    }100%{
        width: 90%;
    }
}

.animation-loadingBar{
    animation: transition 150ms ease-out forwards;
    animation: loadTime 10s ease-in 150ms infinite;
}
